.class_modal {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
  height: 300px;
  background-color: black;
  opacity: 0.9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
   margin-left: auto;
  margin-right: auto;
}
.class_closed {
  position: absolute;
  left: 90%;
  width: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.class_title_info{
    text-align: center;
    padding-top: 20px;
    
}
